{% load static %}
<div class="row articleFun">
    <a class="btn btn-primary active" role="button" id="articleFun_all">所有文章</a>
    <a class="btn btn-default active" role="button" id="articleFun_write">写文章</a>
    <a class="btn btn-default active" role="button" id="articleFun_column">分类目录</a>
</div>
<div class="row article">
    <div class="col-md-1 text-center"><input type="checkbox" id="articleMainCheck"></div>
    <div class="col-md-2 text-left">标题</div>
    <div class="col-md-2 text-center">特色图片</div>
    <div class="col-md-2 text-center">作者</div>
    <div class="col-md-2 text-center">分类</div>
    <div class="col-md-1 text-center">评论</div>
    <div class="col-md-2 text-center">日期</div>
</div>
{% for i in article %}
    <div class="row articleRow">
        <div class="col-md-1 text-center"><input type="checkbox" name="items" class="articleOtherCheck"></div>
        <div class="col-md-2 text-left"><a class="articleTitle" urlTarget="{{ i.url }}">{{ i.title }}</a></div>
        <div class="col-md-2 text-center "><img class="img-thumbnail img-rounded"
                                                src="{% static 'images/login/background.jpg' %}"
                                                style="width: 60px;height: 60px;"></div>
        <div class="col-md-2 text-center "><a href="#">{{ i.author }}</a></div>
        <div class="col-md-2 text-center "><a href="#">{% for i in i.column %}{{ i.name }},{% endfor %}</a></div>
        <div class="col-md-1 text-center">{{ i.commentId }}</div>
        <div class="col-md-2 text-center">{{ i.time }}</div>
    </div>
{% endfor %}
<script src="{% static 'js/admin/articleList.js' %}"></script>