{% load static %}
<link rel="stylesheet" href="{% static 'markdown/css/editormd.css' %}"/>
<div class="row" id="writeArticleTitle">
    <div class="col-md-2">
        <h3>标题：</h3>
    </div>
    <div class="col-md-10">
        <input type="text" name="title" placeholder="请输入标题" value="{{ title }}">
    </div>
</div>
<div class="row" id="writeArticleIntroduction">
    <div class="col-md-2">
        <h3>摘要：</h3>
    </div>
    <div class="col-md-10">
        <input type="text" name="introduction" placeholder="请输入摘要" value="{{ introduction }}">
    </div>
</div>
<div class="row" id="writeArticleOther">
    <div class="col-md-2">
        <div class="btn-group">
            <button type="button" class="btn btn-danger">选择分类</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" id="writeArticleColumn">
                {% for i in column %}
                    {% if i.parent == 0 %}
                        <li><input type="checkbox" value="{{ i.columnId }}" id="{{ i.name }}"
                                   class="writeArticleColumn"
                                   {% if i.name in updateColumn %}checked{% endif %}>
                            <label for="{{ i.name }}">{{ i.name }}</label>
                        </li>
                    {% else %}
                        <ul style="margin-left: 10px">
                            <li><input type="checkbox" value="{{ i.columnId }}" id="{{ i.name }}"
                                       class="writeArticleColumn"
                                       {% if i.name in updateColumn %}checked{% endif %}>
                                <label for="{{ i.name }}">{{ i.name }}</label>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <span>文章url：</span><input type="text" name="articleUrl" value="{{ url }}">
    </div>
    <div class="col-md-4">
        <input type="checkbox" id="public" checked="true"><label for="public" class="writeArticleStatus">发布</label>
        <input type="checkbox" id="draft"><label for="draft" class="writeArticleStatus">草稿</label>
        <input type="checkbox" id="commentStatus" checked="true"><label for="commentStatus">开启评论</label>
    </div>
    <div class="col-md-2">
        {% if status == "update" %}
            <button class="btn btn-primary" id="updateArticle">更新</button>
        {% else %}
            <button class="btn btn-primary" id="releaseArticle">发布</button>
        {% endif %}
    </div>
    {#    模态框#}
    <div class="modal fade" id="featuredImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" id="featuredPictureModalBox">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">特色图片</h4>
                </div>
                <div class="modal-body" id="featuredPictureModalBoxContent">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#localUpload" data-toggle="tab">本地上传</a>
                        </li>
                        <li>
                            <a href="#mediaLibrary" data-toggle="tab" id="mediaImageStorageLocation">
                                媒体库选择</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="localUpload">
                            本地上传
                        </div>
                        <div class="tab-pane fade " id="mediaLibrary">
                            <button class="btn btn-warning" id="openTheMediaLibrary">打开媒体库</button>
                        </div>

                    </div>
                    <script>
                        $(function () {
                            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                                // 获取已激活的标签页的名称
                                var activeTab = $(e.target).text();
                                // 获取前一个激活的标签页的名称
                                var previousTab = $(e.relatedTarget).text();
                                $(".active-tab span").html(activeTab);
                                $(".previous-tab span").html(previousTab);
                            });
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="selectFeaturedImage">选择</button>
                </div>
            </div>
        </div>
    </div>
    {#    模态框#}
    <div class="col-md-6">
        <button class="btn btn-danger" data-toggle="modal"
                data-target="#featuredImage" id="uploadFeaturedImage">上传特色图片
        </button>
    </div>
    <script>
        $('#public').click(function () {
            if ($(this).is(":checked")) {
                $('#draft').prop('checked', false);
                $('#releaseArticle').html("发布");
            }
        });
        $('#draft').click(function () {
            if ($(this).is(":checked")) {
                $('#public').prop('checked', false);
                $('#releaseArticle').html("保存");
            }
        });
        let column = new Array(1);
        {% for i in updateColumn %}
            column.push(i);
        {% endfor %}

    </script>
</div>
<hr>
<div class="row">
    <p id="result"></p>
    <div id="editor">
        <textarea style="display:none;">{{ markdown }}</textarea>
    </div>
</div>
<script src="{% static 'js/admin/writeArticle.js' %}"></script>
<script src="{% static 'markdown/editormd.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        let mark = "markdown";
        if ($('#editor textarea').html()) {
            mark = $('#editor textarea').html()
        }
        var editor = editormd("editor", {
            width: "100%",
            height: "720",
            markdown: mark,     // dynamic set Markdown text
            path: "/static/markdown/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
            imageUpload: true, //开启图片上传
            imageFormats: ['jpg', 'jpeg', 'png', 'bmp', 'gif'], //设置支持的图片格式
            imageUploadURL: "{% url 'api-upload-url' %}", //设置处理图片上传的后端URL地址
        });
    });
</script>

