{#显示分类列表的模板文件#}
{% load static %}
<input type="text" name="top_column" token="{{ csrf_token }}">
<button class="btn btn-dark" id="add_top_column">增加顶级标题</button>
<p id="add_column_result">
    {{ result }}
</p>
<p></p>
<table class="table table-hover">
    <tr>
        <td>分类ID</td>
        <td>分类名称</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>
    {% for i in column %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.time }}</td>
            <td>
                <button class="btn btn-default">增加子标题</button>
                <button class="btn btn-primary">修改信息</button>
                <button class="btn btn-danger">删除</button>
            </td>
        </tr>
    {% endfor %}
</table>
<script src="{% static 'js/admin/column.js' %}"></script>