{% load static %}
<div class="row">
    <div id="uploadForm">
        <input type="file" name="file" id="uploadFile" style="display: inline-block">
        <input type="submit" value="上传" id="upload-b" class="btn btn-primary">
    </div>
</div>
<div class="row text-left">
    <span class="glyphicon glyphicon-th " style="cursor: pointer;
    border-radius: 5px;box-shadow: 1px 1px 1px #000,-1px -1px 1px #000;padding: 4px;"></span>
    <span class="glyphicon glyphicon-th-list" style="cursor: pointer"></span>
</div>
<p id="uploadStatus"></p>
<div class="row" id="media_div" style="position: relative" part="{{ part }}" widths="{{ width }}">
    {% for i in result %}
        <img src="{{ i.url }}"
             class="img-responsive img-rounded img-thumbnail media_item"
             alt="" name="{{ i.id }}"
             style="width: {{ width }};position: absolute;
                     top:{{ i.top }};left:{{ i.left }}">
    {% endfor %}
</div>
<script src="{% static 'js/admin/mediaList.js' %}"></script>